{{#each model.draftItems as |item|}}
  <p>{{item.name}} {{item.price}} {{item.purchaseDate}}</p>
  <a href="#" {{action "deleteItem" item}}>Delete</a>
{{/each}}

<form {{action "onSubmit" on="submit"}}>
  <label for="name">Name</label>
  {{input
    id="name"
    placeholder="Name"
    value=name
  }}
  <label for="price">Price</label>
  {{input
    id="price"
    placeholder="Price"
    value=price
  }}
  <label for="purhcase-date">Purchase Date</label>
  {{pikaday-input value=purchaseDate format="MM-DD-YYYY"}}
  <button {{action "addItem"}}>Add Item</button>
  <button class="submit" type="submit">Submit</button>
</form>

{{#if errorMessage}}
  <div class="errors">
    {{errorMessage}}
  </div>
{{/if}}
