{{#page-container}}
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          {{#power-select
            options=months
            selected=month
            triggerClass="month-select"
            onchange=(queue
              (action (mut month))
              (action "setFilterMonth")
            )
          as |month|
          }}
            {{month}}
          {{/power-select}}
        </div>

        <div class="col-md-2">
          {{#power-select
            options=years
            selected=year
            triggerClass="year-select"
            onchange=(queue
              (action (mut year))
              (action "setFilterMonth")
            )
          as |year|
          }}
            {{year}}
          {{/power-select}}
        </div>

        <h4>Total: {{currency-formatter total}}</h4>
        <h4 class="pl-2">Items Purchased: {{totalCount}}</h4>
      </div>

      {{basic-table table}}

      <h4>Total: {{currency-formatter total}}</h4>
      <h4>Items Purchased: {{totalCount}}</h4>
      {{simple-pagination page=page pages=totalPages}}
    </div>
  </div>
{{/page-container}}
