{{#page-container}}
  <div class="row">
    <div class="col-md-4">
      <div class="card draft-purchases">
        {{#each model.draftPurchases as |purchase|}}
          {{purchase-badge purchase=purchase onDelete=(action "deletePurchase" purchase)}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="col-md-12">
          {{#bs-form onSubmit=(action "onSubmit") as |form|}}
            {{#form.group}}
              <div class="row">
                <div class="col-md-4">
                  {{#form.group}}
                    {{#power-select-typeahead
                      search=(action "searchAsync")
                      selected=name
                      placeholder="Name"
                      onchange=(action (mut name))
                    as |name|
                    }}
                      {{name}}
                    {{/power-select-typeahead}}
                  {{/form.group}}
                </div>
                <div class="col">
                  {{form.element
                    id="price"
                    controlType="number"
                    value=price
                    placeholder="Price"
                    onChange=(action "setPrice")
                  }}
                </div>
                <div class="col">
                  {{#form.group}}
                    {{pikaday-input
                      class="form-control"
                      autocomplete="off"
                      value=purchaseDate
                      id="purchase-date"
                      placeholder="Purchase Date"
                      format="MM-DD-YYYY"
                      onSelection=(action "setDate")
                    }}
                  {{/form.group}}
                </div>
                <div class="col">
                  {{bs-button
                    type="info"
                    class="add-purchase"
                    icon="fa fa-plus"
                    onClick=(action "addPurchase")
                  }}
                </div>
              </div>
            {{/form.group}}
            {{#bs-button
              type="submit"
              class="btn-primary submit"
              block=true
              onClick=(action "onSubmit")
            }}
              Submit
            {{/bs-button}}
          {{/bs-form}}
        </div>
      </div>
    </div>
  </div>
{{/page-container}}

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
